<!-- index.html -->
{% extends "base.html" %}

{% block content %}
    <h1>Bienvenidos a Milo</h1>
    <p>Estas es nuestra página de inicio</p>
<div class="d-flex flex-row justify-content-center"><div class="card-container text-center" style="display: flex; gap: 2rem; ">
    <div class="card" style="width: 18rem;">
      <img src="static/img/desayuna.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">¿Sabías que MILO® tiene un proyecto que involucra la energía solar en Colombia? Aquí te contamos cuál es y la repercusión positiva que tiene en las personas.</p>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
      <img src="static/img/milo2.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Es una deliciosa bebida para el desayuno a base de chocolate y malta que ayuda a dar a tus hijos la energía que necesitan para triunfar cada día.</p>
      </div>
    </div>
  
    <div class="card" style="width: 15rem;">
      <img src="static/img/nestle1.avif" class="card-img-fluid" alt="...">
      <div class="card-body">
        <p class="card-text">MILO® se convierte en uno de los infaltables en las loncheras de los niños y jóvenes con el lanzamiento de su presentación en cajitas personales Tetra Pak de 180 ml.</p>
      </div>
    </div>
  </div></div>
    
      
{% endblock %}
